/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */

object{
	width: 50%;
	height: auto;
}

button {
	height: 100%;
	all: unset;
}

object {
	margin-top: 40px;
}
